{% extends 'base.html.twig' %}

{% block title %}Venta listado{% endblock %}

{% block body %}
    <h1>Ventas listado</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cliente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for ventum in ventas %}
            <tr>
                <td>{{ ventum.id }}</td>
                <td>{{ ventum.cliente }}</td>
                <td>
                    <a href="{{ path('venta_show', {'id': ventum.id}) }}">Ver</a>
                    <a href="{{ path('venta_edit', {'id': ventum.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay ventas registradas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('venta_new') }}">Crear nueva</a>
{% endblock %}
